
.header {
  display: flex;
  background-color: rgb(159, 28, 159);
  width: 1600px;
  height: 100px;
  border: 3px solid rgb(147, 135, 135); 
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.troll {
  position: absolute;
  margin-top: 40px;
  width: 30px;
  margin-left: 6px;
  
}
.meme{
margin-top: 40px;
  margin-left: 50px;
  color: rgb(43, 189, 226);
  
}
.react{
  position: relative;
 margin-top: -40px;
  margin-left: 1200px;
  color: rgb(120, 229, 239);
}
